<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.mbg.mapper.TallyStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.tiny.mbg.model.TallyStatistics">
    <id column="statistics_id" jdbcType="INTEGER" property="statisticsId" />
    <result column="statistics_userid" jdbcType="INTEGER" property="statisticsUserid" />
    <result column="statistics_name" jdbcType="VARCHAR" property="statisticsName" />
    <result column="statistics_kindid" jdbcType="INTEGER" property="statisticsKindid" />
    <result column="statistics_remark" jdbcType="VARCHAR" property="statisticsRemark" />
    <result column="statistics_money" jdbcType="DECIMAL" property="statisticsMoney" />
    <result column="statistics_time" jdbcType="TIMESTAMP" property="statisticsTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    statistics_id, statistics_userid, statistics_name, statistics_kindid, statistics_remark, 
    statistics_money, statistics_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.tiny.mbg.model.TallyStatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tally_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tally_statistics
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tally_statistics
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.tiny.mbg.model.TallyStatisticsExample">
    delete from tally_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.tiny.mbg.model.TallyStatistics">
    insert into tally_statistics (statistics_id, statistics_userid, statistics_name, 
      statistics_kindid, statistics_remark, statistics_money, 
      statistics_time)
    values (#{statisticsId,jdbcType=INTEGER}, #{statisticsUserid,jdbcType=INTEGER}, #{statisticsName,jdbcType=VARCHAR}, 
      #{statisticsKindid,jdbcType=INTEGER}, #{statisticsRemark,jdbcType=VARCHAR}, #{statisticsMoney,jdbcType=DECIMAL}, 
      #{statisticsTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.tiny.mbg.model.TallyStatistics">
    insert into tally_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="statisticsId != null">
        statistics_id,
      </if>
      <if test="statisticsUserid != null">
        statistics_userid,
      </if>
      <if test="statisticsName != null">
        statistics_name,
      </if>
      <if test="statisticsKindid != null">
        statistics_kindid,
      </if>
      <if test="statisticsRemark != null">
        statistics_remark,
      </if>
      <if test="statisticsMoney != null">
        statistics_money,
      </if>
      <if test="statisticsTime != null">
        statistics_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="statisticsId != null">
        #{statisticsId,jdbcType=INTEGER},
      </if>
      <if test="statisticsUserid != null">
        #{statisticsUserid,jdbcType=INTEGER},
      </if>
      <if test="statisticsName != null">
        #{statisticsName,jdbcType=VARCHAR},
      </if>
      <if test="statisticsKindid != null">
        #{statisticsKindid,jdbcType=INTEGER},
      </if>
      <if test="statisticsRemark != null">
        #{statisticsRemark,jdbcType=VARCHAR},
      </if>
      <if test="statisticsMoney != null">
        #{statisticsMoney,jdbcType=DECIMAL},
      </if>
      <if test="statisticsTime != null">
        #{statisticsTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.tiny.mbg.model.TallyStatisticsExample" resultType="java.lang.Long">
    select count(*) from tally_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tally_statistics
    <set>
      <if test="record.statisticsId != null">
        statistics_id = #{record.statisticsId,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsUserid != null">
        statistics_userid = #{record.statisticsUserid,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsName != null">
        statistics_name = #{record.statisticsName,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsKindid != null">
        statistics_kindid = #{record.statisticsKindid,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsRemark != null">
        statistics_remark = #{record.statisticsRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsMoney != null">
        statistics_money = #{record.statisticsMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.statisticsTime != null">
        statistics_time = #{record.statisticsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tally_statistics
    set statistics_id = #{record.statisticsId,jdbcType=INTEGER},
      statistics_userid = #{record.statisticsUserid,jdbcType=INTEGER},
      statistics_name = #{record.statisticsName,jdbcType=VARCHAR},
      statistics_kindid = #{record.statisticsKindid,jdbcType=INTEGER},
      statistics_remark = #{record.statisticsRemark,jdbcType=VARCHAR},
      statistics_money = #{record.statisticsMoney,jdbcType=DECIMAL},
      statistics_time = #{record.statisticsTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.tiny.mbg.model.TallyStatistics">
    update tally_statistics
    <set>
      <if test="statisticsUserid != null">
        statistics_userid = #{statisticsUserid,jdbcType=INTEGER},
      </if>
      <if test="statisticsName != null">
        statistics_name = #{statisticsName,jdbcType=VARCHAR},
      </if>
      <if test="statisticsKindid != null">
        statistics_kindid = #{statisticsKindid,jdbcType=INTEGER},
      </if>
      <if test="statisticsRemark != null">
        statistics_remark = #{statisticsRemark,jdbcType=VARCHAR},
      </if>
      <if test="statisticsMoney != null">
        statistics_money = #{statisticsMoney,jdbcType=DECIMAL},
      </if>
      <if test="statisticsTime != null">
        statistics_time = #{statisticsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.tiny.mbg.model.TallyStatistics">
    update tally_statistics
    set statistics_userid = #{statisticsUserid,jdbcType=INTEGER},
      statistics_name = #{statisticsName,jdbcType=VARCHAR},
      statistics_kindid = #{statisticsKindid,jdbcType=INTEGER},
      statistics_remark = #{statisticsRemark,jdbcType=VARCHAR},
      statistics_money = #{statisticsMoney,jdbcType=DECIMAL},
      statistics_time = #{statisticsTime,jdbcType=TIMESTAMP}
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </update>
</mapper>